html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden;

    h1, h2, h3, h4, h5, h6, span, p {
        margin: 0;
        padding: 0;
    }
    
}

.container {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    width: 100vw;
}

.video-section {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.video-interactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.channel-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.video-section h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.video img{
    width: 100%;
    height: auto;
}

.video-meta{
    margin-top: 3rem;
    font-size: 1rem;
    color: #000000;
}

.video-metas {
    font-weight: bolder;
    font-size: 1rem;
}

.video-meta .video-description {
    max-width: 60%;
    margin-top: 1rem;
    color: #6d6d6d;
}


.suggested-videos {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
    gap: 1rem;
}


.video-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.video-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: 100%;
    justify-content: space-between;
    
    h3 {
        font-size: 1rem;
        color: #000;
    }

    
}

.meta-info {
    font-size: .9rem;
}


.subscribe {
    width: 14rem;
    height: 3rem;
    background-color: red;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.interactions-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    color: #000;
}



.navbar {
    display: flex;
    flex-direction: row;
    width: 95vw;
    height: 3rem;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 2rem 0 2rem;
    z-index: 1000;
}


.menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    img {
        width: 8rem;
        height: auto;
    }
}

.menu-lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line1, .line2, .line3 {
    display: block;
    width: 25px;
    height: 3px;
    margin: 2px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 3rem;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
}

.text input {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
}

text button {
    width: 3rem;
    height: 100%;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}